form {
    width: 100%;

    input, select, textarea {
        width: 90%;
        padding: 0.5em;
        margin: 0.5em 5%;
        float: left;
        border: 0;
    }

    label {
        float: left;
        padding: 1.2em 1.3em 0;
        font-size: 0.8em;
        color: $primaryWhite;
    }

    button {
        width: 95%;
        padding: 1em;
        color: $primaryWhite;
        background: $primaryRed;
        border: 0;
        margin: 1em auto;
    }

    a {
        color: $primaryGrey;
        text-decoration: none;
        font-size: 0.8em;
        padding: 1em;
        margin-bottom: 1em;
        text-align: center;
        width: 45%;
        border: 1px solid $primaryRed;

        @include transitions(all, 0.4s, ease-in-out);

        &:hover {
            color: $primaryWhite;
            background: $primaryRed;
        }
    }
}

.form-container {
    width: 100%;
    height: 100%;
    background: rgba($primaryRed, 0.9);
    color: $primaryGrey;
    position: relative;

    @include flexbox;
    @include flex-align-items(center);
    @include flex-justify-content(center);
    @include flex-direction(column);

    @include bp480 {
        display: block;
        width: 450px;
        height: auto;
        border-radius: 5px;
    }

    h1 {
        color: $primaryWhite;
        line-height: 1.5;
        text-align: center;
        margin: 0;
        padding: .5em 0 0;
        font-family: $fontAladin;
    }

    span.message {
        color: $primaryWhite;
        text-align: center;
        padding: 1em 0 0;
        display: block;
        font-size: 0.8em;
        font-family: $fontSansSerif;
    }

    .submit-container {
        background: $primaryWhite;
        width: 100%;
        margin-top: 1em;
        float: left;

        @include flexbox;
        @include flex-align-items(center);
        @include flex-justify-content(space-around);
        @include flex-wrap(wrap);
        @include flex-direction(row);

        @include bp480 {
            position: relative;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
