@mixin flexbox {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

@mixin flex-direction($direction) {
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
    flex-wrap: $wrap;
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
}

@mixin flex-align-items($align) {
    align-items: $align;
    -webkit-align-items: $align;
    -ms-align-items: $align;
}

@mixin flex-justify-content($justify) {
    justify-content: $justify;
    -webkit-justify-content: $justify;
    -ms-justify-content: $justify;
}

@mixin transitions($property, $length, $effect) {
    transition: $property $length $effect;
    -webkit-transition: $property $length $effect;
    -ms-transition: $property $length $effect;
    -moz-transition: $property $length $effect;
    -o-transition: $property $length $effect;
}

@mixin bp480 {
    @media only screen and (min-width: $mobile) {
        @content;
    }
}

@mixin bp800 {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin bp1000 {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}

@mixin bp1200 {
    @media only screen and (min-width: $lg-desktop) {
        @content;
    }
}
