// Import our Google Font
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu+Condensed|Aladin';

$mobile                         :       480px;
$tablet                         :       800px;
$desktop                        :       1000px;
$lg-desktop                     :       1200px;

$primaryRed: #EB4549;
$primaryGrey:  #1A1919;
$primaryLightGrey: #F7F7F7;
$primaryWhite: #FEFEFE;

$fontSansSerif: 'Ubuntu Condensed', sans-serif;
$fontSerif: 'Roboto Slab', serif;
$fontAladin: 'Aladin', cursive;
